/* GENERALE */
body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 16px;
}

#pagina {
    padding-left: 100px;
    padding-top: 80px;
    padding-right: 100px;
    padding-bottom: 80px;
}

#logo {
    width: 250px;
}

button {
    background-color: transparent;
    border: 2px solid white;
    height: 60px;
    width: 200px;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

button:hover {
    background-color: #0ff;
    color: black;
    box-shadow: 10px 10px 8px #0ff, -10px -10px 8px #0ff, 10px -10px 8px #0ff, -10px 10px 8px #0ff;
    border: none;
}

/*INDEX*/



/*WELCOME*/
#welcome-heading{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 64px;
}
#welcome-heading > p{
    font-weight: bold;
}
#welcome-main > h2{
    color:rgb(202, 71, 202) ;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}
.text{
    font-size: 18px;
}
ul{
    margin-top: 30px;
    margin-bottom: 80px;
    list-style-type: disc;
    color:white;
}
ul > li{
    margin-bottom: 8px;
    margin-left: 30px;
}
li > span{
    font-weight: bold;
}
#welcome-footer{
    display: flex;
    justify-content: space-between;
}
#welcome-footer span{
    font-size:18px;
    font-weight: bold;
}
#welcome-footer button {
    margin-right: 16%;
}
/* Checkbox che non diventa trasparente da rivedere
label > #checkbox{
    opacity: 1;
    background-color: transparent;
}
*/



/*TEST*/
.question{
    text-align: center;
}
.ansbox{
   
}
.ansBtn{
margin: 0.2rem;
}
.firstrow{

}
.secondrow{

}
.validateAns{
    
}

/*RESULT*/



/*FEEDBACK*/

