/* GENERALE */
body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 16px;
}

#pagina {
    padding-left: 100px;
    padding-top: 80px;
    padding-right: 100px;
    padding-bottom: 80px;
}

#logo {
    width: 250px;
}

button {
    background-color: transparent;
    border: 2px solid white;
    height: 60px;
    width: 200px;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

button:hover {
    background-color: #0ff;
    color: black;
    filter: drop-shadow(5px 5px 50px #0ff);
}

/*INDEX*/



/*WELCOME*/
#welcome-heading{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 64px;
}
#welcome-heading > p{
    font-weight: bold;
}
#welcome-main > h2{
    color:rgb(202, 71, 202) ;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}
.text{
    font-size: 18px;
}
ul{
    margin-top: 30px;
    margin-bottom: 80px;
    list-style-type: disc;
    color:white;
}
ul > li{
    margin-bottom: 8px;
    margin-left: 30px;
}
li > span{
    font-weight: bold;
}
#welcome-footer{
    display: flex;
    justify-content: space-between;
}
#welcome-footer span{
    font-size:18px;
    font-weight: bold;
}
#welcome-footer button {
    margin-right: 16%;
}
/* Checkbox che non diventa trasparente da rivedere
label > #checkbox{
    opacity: 1;
    background-color: transparent;
}
*/




/*TEST*/
.question{
    text-align: center;
}
.ansbox{
    text-align: center;
}
.ansBtn{
    margin: 0.2rem;
    
    
    
}
.firstrow{

}
.secondrow{

}
.validateAns{
    
}

/*RESULT*/

#title {
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding: 5px;
}

#underTitle {
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

#correctTitle {
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

#wrongTitle {
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

#correctPercentage{
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

#wrongPercentage {
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

#correctQuestions {
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

#wrongQuestions {
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

#centerMessage {
    text-align: center;
}

#checkAnswers {
    display: flex;
    align-items: center;
}

/*FEEDBACK*/

