/* GENERALE */
#ic{
    display: none;
}

body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 16px;
}

.pagine {
    padding-left: 100px;
    padding-top: 80px;
    padding-right: 100px;
    padding-bottom: 80px;
}

#logo {
    width: 250px;
}

button {
    background-color: transparent;
    border: 2px solid white;
    height: 60px;
    width: 200px;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

button:hover {
    background-color: #0ff;
    color: black;
    filter: drop-shadow(5px 5px 50px #0ff);
}

/*INDEX*/



/*WELCOME*/
#welcome-heading {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 64px;
}

#welcome-heading>p {
    font-weight: bold;
}

#welcome-main>h2 {
    color: rgb(202, 71, 202);
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.text {
    font-size: 18px;
}

ul {
    margin-top: 30px;
    margin-bottom: 80px;
    list-style-type: disc;
    color: white;
}

ul>li {
    margin-bottom: 8px;
    margin-left: 30px;
}

li>span {
    font-weight: bold;
}

#welcome-footer {
    display: flex;
    justify-content: space-between;
}

#welcome-footer span {
    font-size: 18px;
    font-weight: bold;
}

#welcome-footer button {
    margin-right: 16%;
}

#proceed {
    color: white;
    text-decoration: none;
}

#proceed:hover {
    color: black;
}

/* colore background rimane bianco
 #checkbox{
    background-color: transparent;
}
*/



/*TEST*/

.exambox {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

h1 p {
    font-weight: bold;
}

.question {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 1.5rem;
}

.ansbox {
    text-align: center;
}

.rAnsBtn {
    width: 380px;
    margin: 0.2rem;
    max-width: 400px;
    border-radius: 30px;
}

.wa0 {
    width: 380px;
    margin: 0.2rem;
    max-width: 400px;
    border-radius: 30px;
}

.wa1 {
    width: 380px;
    margin: 0.2rem;
    max-width: 400px;
    border-radius: 30px;
}

.wa2 {
    width: 380px;
    margin: 0.2rem;
    max-width: 400px;
    border-radius: 30px;
}

.ansBtn:hover {
    color: white;
    background-color: #d20094;
}

.firstrow {
    margin-bottom: 20px;
}

.secondrow {
    align-items: stretch;

}

.ansBtncheck {
    background-color: #d20094;
}

.validateAns {
    text-align: right;
}

.counter {
    text-align: center;
    margin-top: 3rem;
    text-transform: uppercase;
    font-weight: 600;
}

.questionsLeft {
    color: #d20094;
}

/*TIMER*/

.countdown {
    display: grid;
    margin-left: auto;
    margin-right: 0;
    width: 100px;
    height: 100px;
    font-family: 'Outfit', sans-serif;
    font-size: x-large;
    text-align: center;
    align-items: center;
}

.countdown::after {
    grid-column: 1;
    grid-row: 1;
    place-self: center;
    animation: num 40s steps(1) infinite;
    content: counter(s, decimal-leading-zero);
}

/*keyframes numerici per timer a schermo*/
@keyframes num {
    0% {
        counter-reset: s 40;
    }

    2.5% {
        counter-reset: s 39;
    }

    5% {
        counter-reset: s 38;
    }

    7.5% {
        counter-reset: s 37;
    }

    10% {
        counter-reset: s 36;
    }

    12.5% {
        counter-reset: s 35;
    }

    15% {
        counter-reset: s 34;
    }

    17.5% {
        counter-reset: s 33;
    }

    20% {
        counter-reset: s 32;
    }

    22.5% {
        counter-reset: s 31;
    }

    25% {
        counter-reset: s 30;
    }

    27.5% {
        counter-reset: s 29;
    }

    30% {
        counter-reset: s 28;
    }

    32.5% {
        counter-reset: s 27;
    }

    35% {
        counter-reset: s 26;
    }

    37.5% {
        counter-reset: s 25;
    }

    40% {
        counter-reset: s 24;
    }

    42.5% {
        counter-reset: s 23;
    }

    45% {
        counter-reset: s 22;
    }

    47.5% {
        counter-reset: s 21;
    }

    50% {
        counter-reset: s 20;
    }

    52.5% {
        counter-reset: s 19;
    }

    55% {
        counter-reset: s 18;
    }

    60% {
        counter-reset: s 17;
    }

    62.5% {
        counter-reset: s 16;
    }

    65% {
        counter-reset: s 15;
    }

    67.5% {
        counter-reset: s 14;
    }

    70% {
        counter-reset: s 13;
    }

    72.5% {
        counter-reset: s 12;
    }

    75% {
        counter-reset: s 11;
    }

    77.5% {
        counter-reset: s 10;
    }

    80% {
        counter-reset: s 9;
    }

    82.5% {
        counter-reset: s 8;
    }

    85% {
        counter-reset: s 7;
    }

    87.5% {
        counter-reset: s 6;
    }

    90% {
        counter-reset: s 5;
    }

    92.5% {
        counter-reset: s 4;
    }

    95% {
        counter-reset: s 3;
    }

    97.5% {
        counter-reset: s 2;
    }

    99% {
        counter-reset: s 1;
    }

    100% {
        counter-reset: s 0;
    }
}

svg {
    grid-column: 1;
    grid-row: 1;
    max-width: fit-content;
    max-height: fit-content;
}

[r] {
    fill: none;
    stroke: silver;
}

[r]+[r] {
    transform: rotate(-90deg);
    stroke-linecap: round;
    stroke: #00ffff;
    animation: arc 40s linear infinite;
    animation-name: arc, col;
}

/*keyframes per cambio colore del timer*/
@keyframes arc {
    0% {
        stroke-dashoffset: 0px;
    }
}

@keyframes col {
    0% {
        stroke: #00ffff;
    }

    25% {
        stroke: #00ffff;
    }

    50% {
        stroke: #00ffff;
    }

    75% {
        stroke: #d21212;
    }

    100% {
        stroke: #d21212;
    }
}

/*RESULT*/


#title {
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding: 5px;
}

#underTitle {
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

#correctTitle {
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

#wrongTitle {
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

#correctPercentage {
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

#wrongPercentage {
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

#correctQuestions {
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

#wrongQuestions {
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

#centerMessage {
    text-align: center;
}

#checkAnswers {
    text-align: center;
}

#middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message {
    font-weight: 400;
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
    line-height: 1.5rem;
    position: fixed;
    top: 45%;
    left: 43%;
    text-align: center;
    height: 300px;
    width: 300px;
}

#topMessage {
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
    color: white;
}

#middleMessage {
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
    color: #00ffff;
}

#underMessage {
    font-weight: 400;
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
    padding-top: 15px;
}

svg {
    width: 650px;
    height: 650px;
}

.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    color: #00ffff;
}

circle {
    stroke: #00ffff;
    stroke-width: 65px;
    fill: transparent;
}

[r] {
    fill: none;
    stroke: #00ffff;
}

input {
    height: 40px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}


/*FEEDBACK*/
.containar_principale {
    padding: 10px;
    margin: 15px 0 15px 0;
}

#titolo {
    display: flex;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 2.3em;
}

#paragrafo {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 1.1em;
    line-height: 1.2em;
    margin-top: 15px;
}

.containar_stelle {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.stella {
    width: 2.5em;
    height: 2.5em;
    margin: 0 5px 0 5px;
    fill: black;
}

.active{
    fill:#00ffff
}

.paragrafo_footer {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: 1.2em;
    padding: 5px;
    margin-bottom: 30px;
}

.containar_input {
    display: flex;
    justify-content: center;
}

.input_footer {
    height: 1.8em;
    width: 70em;
    background: none;
    border: none;
    border-bottom: solid 2px #d20094;
    color: white;
    margin: 10px 0 50px 0;
    font-size: 1.2em;
    font-family: 'Outfit', sans-serif;
}

.input_footer:focus {
    outline: none;
}

.containar_button {
    display: flex;
    justify-content: center;
}
.grandezza{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 0 0 0;
    fill: #00ffff;
}


/*CheckAnswers Popup */
#popup {
    background-color: white;
    height: 500px;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%
}

#popupTitle {
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    color: black;
}

#fullQuestions {
    display: flex;
    padding: 40px;
    border: 1px solid gainsboro;
}

#qs {
    display: flex;
    justify-content: flex-start;
    
}